.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  background-color: white;
  z-index: 1;
  min-height: 100%;
}

.flex-container {

  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: #f7f7f7;
  overflow: hidden;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
